# Seguridad: No subir variables de entorno con claves reales
.env

# No subir el script de inicialización si contiene contraseñas

# Carpetas de compilación de Java (Spring Boot)
target/
*.class
.mvn/
/.metadata/
/microservicios/.metadata/
