spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9000/oauth2/jwks      

  cloud:
    loadbalancer:
      enabled: true

    gateway:
      routes:
        - id: msv-pacientes2
          uri: lb://msv-pacientes2
          predicates:
            - Path=/api/pacientes/**
          filters:
            - StripPrefix=2

        - id: msv-medicos
          uri: lb://msv-medicos
          predicates:
            - Path=/api/medicos/**
          filters:
            - StripPrefix=2

        - id: msv-citas
          uri: lb://msv-citas
          predicates:
            - Path=/api/citas/**
          filters:
            - StripPrefix=2

        - id: msv-huespedes
          uri: lb://msv-huespedes
          predicates:
            - Path=/api/huespedes/**
          filters:
            - StripPrefix=2

        - id: msv.habitaciones
          uri: lb://msv.habitaciones
          predicates:
            - Path=/api/habitaciones/**
          filters:
            - StripPrefix=2

        - id: msv-reservas
          uri: lb://msv-reservas
          predicates:
            - Path=/api/reservas/**
          filters:
            - StripPrefix=2
server:
  port: 8090
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    instance-id: ${spring.application.name}:${random.value}